{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": "*.eta",
      "options": {
        "parser": "html"
      }
    }
  ]
}
